@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  max-width: 944px;
  border: 2px solid red;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* solution */

html{
  position: relative;
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer, .left-links , .right-links{
  display: flex;
}

.header , .footer{
  justify-content: space-between;
}

ul{
  list-style-type: none;
}

li + li{
  margin-left: 1em;
}

.footer{
  background-color: #eeeeee;
  align-content:last baseline;
  position: absolute;
  bottom: 0;
  width: 944px;

}

a{
  color: #A9A9A9;
  text-decoration: none;
}